/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  General
    2.  Header
    3.  Inner Content
    4.  Pagination
    5.  Share Selected Text
    6.  Subscribe
    7.  Footer
    8.  Responsive

*/

/* ==========================================================================
   0. Normalize
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary { display:block; }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table{ border-collapse: collapse; border-spacing: 0; }
td, th{ padding: 0; }

/* ==========================================================================
   1. General
   ========================================================================== */

::selection {
    background: rgba(0, 0, 0, 0.2);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
    color: rgba(63, 63, 63, 0.5);
}
::-moz-placeholder {
    color: rgba(63, 63, 63, 0.5);
}
:-ms-input-placeholder {
    color: rgba(63, 63, 63, 0.5);
}
:-moz-placeholder {
    color: rgba(63, 63, 63, 0.5);
}

body{
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 15px;
    background-image: linear-gradient(180deg, #dcf6ff 0%, #fff 600px);
}

h1, h2, h3, h4, h5, h6{
    font-weight: 600;
    line-height: 1.2;
}

b, strong{
    font-weight: bold;
}

a{
    color: #555;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #0069FF;
    text-decoration: none;
}

p{
    font-weight: 300;
    font-size: 14px;
}

iframe{
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
    max-width: 100% !important;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
    color: #3f3f3f;
}

mark{
    background: #ededed;
}

pre,
pre.hljs{
    padding: 30px;
    margin: 30px 0;
}

pre .hljs{
    padding: 0;
}

pre,
.hljs{
    background: #ededed;
}

.hidden{
    display: none !important;
}

label.error{
    font-size: 12px;
    margin-top: 5px;
    color: #ea6666;
    margin: 10px 0;
    display: block;
    text-align: left;
}

input, textarea{
    font-size: 14px;
    outline: 0;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    opacity: 1;
    background: #fff;
    font-weight: 400;
    color: #586069;
    background-color: transparent;
    border: 1px solid rgba(27,31,35,0.15);
    padding: 7px 15px;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea{
    height: 250px;
}

form input,
form textarea{
    margin-bottom: 10px;
}

figure{
    margin: 0;
}

hr{
    margin: 50px 0;
}

blockquote{
    padding: 30px 50px;
    margin: 30px 0;
    position: relative;
}

blockquote:before{
    content: '\f10e';
    font-family: Font Awesome\ 5 Free;
    font-size: 48px;
    color: #eff0f1;
    font-weight: bold;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 30px;
}

.editor-content blockquote p{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

blockquote p:last-child{
    margin: 0;
}

.btn{
	font-size: 14px;
    outline: 0;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    opacity: 1;
    background: #fff;
    font-weight: 400;
    color: #586069;
    background-color: transparent;
    border: 1px solid rgba(27,31,35,0.15);
    padding: 7px 15px;
    box-shadow: 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.03);
}

.btn:hover{
	color: #586069;
    box-shadow: 0 0 1px rgba(0,0,0,.08), 0 1px 2px rgba(0,0,0,.03);
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 18px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 12px;
}

.no-opacity{
    opacity: 0;
}

/* ==========================================================================
   2. Header
   ========================================================================== */

#content{
    padding: 100px 15px 0 15px;
}

header{
    padding: 15px 0;
}

header .blog-logo img{
	max-width: 190px;
	height: auto;
}

header .blog-logo a{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #555555;
    margin: 0;
}

header nav{
    justify-content: flex-end;
}

header nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

header nav ul li{
    margin-left: 30px;
}

header nav ul li a{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

header .text-right{
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

header .inner{
    display: flex;
    align-items: center;
}

header .drawer-trigger{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    height: 30px;
    width: 30px;
    position: relative;
}

header .drawer-trigger .counter{
    color: #929292;
    outline: 0;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid rgba(27,31,35,0.15);
    box-shadow: 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.03);
    font-size: 11px;
    position: absolute;
    top: 28px;
    right: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

header .drawer-trigger .counter:empty{
    display: none;
}

.loop{
    margin: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.loop .item{
    width: 50%;
    padding: 15px 30px 15px 0;
    position: relative;
}

.loop .item:nth-child(2n){
    padding-right: 0;
}

.loop .item p{
    margin-bottom: 10px;
}

.loop .item p a{
	font-size: 15px;
    font-weight: 500;
    border-bottom: 1px dotted #b5b5b5;
}

.loop .post-meta{
    font-size: 13px;
    line-height: 13px;
    color: #b5b5b5;
    display: flex;
    align-items: center;
}

.loop .post-meta a{
	margin-left: 10px;
}

.loop .post-meta .tags a{
	color: #929292;
	outline: 0;
	border-radius: 5px;
	position: relative;
	background: #fff;
	font-weight: 400;
	background-color: transparent;
	border: 1px solid rgba(27,31,35,0.15);
	padding: 3px 6px;
	display: inline-flex;
	box-shadow: 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.03);
	font-size: 13px;
}

.loop .post-meta .twitter{
    color: #1da1f2;
}

.loop .post-meta .inner{
	opacity: 0;
	margin-left: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.loop .post-meta .inner .count-comments{
	font-weight: 400;
	font-size: 12px;
	color: #929292;
}

.loop .item:hover .inner{
	opacity: 1;
}

.loop strong{
    font-weight: 500;
}

.loop .item p span{
	position: relative;
}

.loop .item p a.twitter{
    border: none;
    padding: 0 10px;
    color: #1da1f2;
    opacity: 0;
    position: absolute;
    top: -3px;
    left: 0; 
}

.loop .item:hover p a.twitter{
    opacity: 1;
}

.loop .item .featured:before{
    content: '\f005';
    font-family: Font Awesome\ 5 Free;
    font-weight: bold;
    position: absolute;
    top: 15px;
    left: -22px;
    color: #f4ca16;
    z-index: -1;
}

.intro.has-bg{
	padding: 30px;
	margin-left: -30px;
	width: calc(100% + 60px);
	border-radius: 5px;
	position: relative;
}

.intro.has-bg:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #dcf6ff;
    opacity: .7;
}

.intro h1{
    font-size: 18px;
    padding-top: 0;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
}

.intro h1 strong{
    display: block;
}

.intro h1 span{
	font-size: 14px;
}

.intro figure{
    margin-right: 20px;
}

.intro p{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    color: #555555;
    margin: 20px 0 0 0;
    position: relative;
    z-index: 2;
}

.intro img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro .intro-meta{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

h3.title{
    font-size: 12px;
    color: #586069;
    text-transform: uppercase;
    font-weight: bold;
    margin: 100px 0 20px 0;
}

.tags-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.tags-list li{
    margin-right: 10px;
    position: relative;
}

.tags-list li a{
	font-size: 13px;
    padding: 0px 6px;
	color: #929292;
}

.social{
    margin: 0 0 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social li a{
    border-radius: 3px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter:hover{
    color: #1da1f2;
}

.facebook:hover{
    color: #3b5998;
}

.github:hover{
    color: #4078c0;
}

.read-later{
    color: #929292;
}

.subscribe-container form{
	position: relative;
}

.subscribe-container form .btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    line-height: 32px;
    padding: 0 15px;
    border: none;
    font-size: 12px;
    box-shadow: none;
}

.subscribe-container p{
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 13px;
}

.drawer{
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background: #fff;
        box-shadow: 0 0 60px rgba(0,0,0,.08);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	transform: translateX(calc(100% + 4px));
}

.drawer.active{
	transform: translateX(0);
}

footer .copyright{
    margin: 100px 0 30px 0;
}

footer .copyright p{
	margin: 0;
}

.modal{
    width: 100%;
    max-width: 380px;
    padding-right: 0 !important;
    left: auto;
    opacity: 1;
}

.modal .modal-content{
    border: none;
}

.modal .modal-dialog{
    max-width: 100%;
    margin: 0;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.modal .modal-dialog .modal-content{
    width: 100%;
    border-radius: 0;
    min-height: 100vh;
}

.modal.fade:not(.show) .modal-dialog {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.modal h3.title{
	margin-top: 30px;
}

.modal .loop .item{
	width: 100%;
}

.modal .loop .item:nth-child(2n){
    padding-right: 15px;
}

.modal .widget:first-of-type h3.title{
	margin-top: 0;
}

.modal-backdrop.show {
    opacity: .1;
}

.modal .widget{
    position: relative;
}

.modal .widget .close-search{
    position: absolute;
    top: 6px;
    right: 15px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal.search-focus .widget .close-search{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal .search{
    position: relative;
    z-index: 22;
    background: #fff;
    border-radius: 5px;
}

.modal #results:empty{
    border: none;
}

.modal #results{
    max-height: 400px;
    position: absolute;
    top: 94px;
    overflow: auto;
    font-size: 14px;
    outline: 0;
    border-radius: 5px;
    opacity: 1;
    font-weight: 400;
    color: #586069;
    background-color: transparent;
    border: 1px solid rgba(27,31,35,0.15);
    padding: 7px 15px;
    display: block;
    width: 100%;
    z-index: 22;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.03);
    opacity: 0; 
    visibility: hidden;
    pointer-events: none;
    padding: 0;
}

.modal .no-results{
    padding: 0 15px;
}

.modal.search-focus #results{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal .item{
    padding: 15px;
    border-top: 1px solid #e0e0e0;
    background: rgba(224, 224, 224, 0.1);
}

.modal .item:first-child{
    border-top: none;
    border-radius: 5px 5px 0 0;
}

.modal .item:last-child{
    border-radius: 0 0 5px 5px;
}

.modal .item:first-child:last-child{
    border-radius: 5px;
}

.modal .item:nth-child(2n+1){
    background: #fff;
}

.modal .modal-inner-backdrop{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 0; 
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal.search-focus .modal-inner-backdrop{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.modal .bookmark-container{
    margin: 0;
    border: 1px solid #e0e0e0;
    background: rgba(224, 224, 224, 0.1);
    border-radius: 5px;
}

.modal .bookmark-container.no-bookmarks{
    padding: 50px 15px;
}

.modal .bookmark-container.no-bookmarks p{
    margin: 0;
    text-align: center;
}